.note-input-container {
    display: flex;
    flex-direction: column;
    position: static;

    padding: 0;

    width: 100%;

    textarea {
        height: 100px;

        padding: 10px;

        text-align: left;

        box-shadow: 0 1px 3px 1px #1f1f1f40;
    }
    button {
        border: unset;

        height: 25px;

        margin: 10px 0;

        background-color: white;

        border: 1px solid #3f3f3f80;

        box-shadow: 0 1px 3px 1px #1f1f1f40;

        cursor: pointer;
    }
}
